.quick{
   margin-bottom: 15px;
}
.quick__inner-color {background: linear-gradient(90.00deg, rgb(116, 7, 107) -32.312%,rgb(161, 35, 141) 31.585%,rgb(240, 131, 22) 124.081%);
   padding: 110px 0 ;
   margin-bottom: 100px;
}
.quick__color-container{
   // height: 50vh;
   padding: 20px;
   display: flex;
   flex-direction: column; 
   justify-content: center;
   margin-bottom: 0 !important;
}
.quick__title {
   font-size: 40px;
   font-weight: 600;
   color: $white;
   max-width: 800px;
   letter-spacing: 0.8px;
   line-height: 50px;
   margin-bottom: 50px;
}
.quick__color-text {
   max-width: 800px;
   font-size: 20px;
   letter-spacing: .5px;
   color: $white;
}
.quick__inner-white {
   display: flex;
   height: 50vh;
   padding-bottom: 70px;
   & .container{
      display: flex;
      position: relative;
      width: 100%;
   }
}
.quick__white-list {
   display: flex;
   flex-direction: column;
   gap: 25px;
}
.quick__list-item {
display: flex;
gap: 25px;
}
.quick__item-text {
   font-size: 18px;
}
.quick__item-text--special {
   background: linear-gradient(136.35deg, rgb(116, 7, 107),rgb(161, 35, 141),rgb(240, 131, 22));
   -webkit-background-clip:
   text;
   -webkit-text-fill-color:
   transparent;
   background-clip:
   text;
   text-fill-color: transparent;
   font-size: 18px;
   font-weight: 400;
   line-height: 27px;

}
.quick__white-text {
   max-width: 305px;
   font-size: 18px;
   margin-left: 75px;
   margin-right: auto;
}
.quick__images {
   position: relative;
   overflow: visible;
   margin-left: 70px;
   width: 500px;
   height: 750px;
}
.quick__images-item--1 , .quick__images-item--2, .quick__images-item--3{
   display: flex;
   flex-direction: column; 
}
.quick__images-item--1 {
  z-index: 3;
}
.quick__images-item--2 {
   z-index: 2;
   left: -4% !important;
    top: -26% !important;
}
.quick__images-item--3 {
   z-index: 1;
   left: 7% !important;
   top: -20% !important;
}
.quick__list-check{
   width: 25px;
   height: 18px;
}
.quick__images-item{
   position: absolute;
   content: "";
   top: -32%;
   left: -15%;
}
.quick__card-inner{
   display: flex;
   flex-direction: column;
   padding: 40px 30px;
   max-width: 460px;
   box-shadow: -1px -1px 15px 0px rgba(33, 33, 35, 0.03),1px 1px 15px 0px rgba(33, 33, 35, 0.03);
background: rgb(255, 255, 255);
}
.quick__card-img {
   max-width: 460px;
   max-height: 393px;
}
.quick__card-title {
   font-size: 24px;
   font-weight: 600;
}
.quick__card-text {
   max-width: 334px;
   font-size: 13px;
   margin-top: 20px;
   margin-bottom: 60px;
}
.quick__card-timer {
   margin-left: 60px;
   position: relative;
   max-width: fit-content;
   text-align: center;
   margin-bottom: 50px;
   &::before{
      position: absolute;
      content: "";
      background-color: #F5F5F5;
      border-radius: 50%;
      top: -30%;
      left: -40%;
      width: 166px;
      height: 166px;
      z-index: 0;

   }
}
.quick__timer-title {
   font-weight: 600;
   opacity: .99;
   z-index: 2;
}
.quick__timer-time {
   font-weight: 100;
   font-size: 60px;
   position: relative;
   // animation: count-up 0.5s ease-in-out alternate infinite;
   &::after{
      position: absolute;
      content: "сек";
      font-size: 18px;
      font-weight: 100;
      color: #282828;
      top: 10px;
      right: -10%;
   }
   
}
.quick__timer-num {
   position: absolute;
   content: "";
   right: -15px;
   top: 35%;
   bottom: 0;
   color: #282828;
   font-weight: 100;
}

 .quick__timer-time span {

   animation: count-up 0.5s ease-in-out alternate infinite;
 }


@keyframes count-up {
   from { transform: scale(1); }
   to { transform: scale(1.2); }
 }

 @media(max-width:1400px){
   .quick__color-text{
      max-width: 470px;
   }
   .quick__white-text{
      order: +1;
   }
   .quick__inner-white .container{
      flex-wrap: wrap;
   }
   .quick__images{
      margin-left: 250px;
      top: 10%;
   }
   .quick__white-list{
      height: fit-content;
   }
   .quick__images{
      height: 150px;
   }
   .quick__images-item{
      top: -168%;
      &--2{
         top: -125% !important;
      }
      &--3{
         top: -76% !important;
      }
   }
   .quick__white-text{
      margin-left: 0;
      transform: translateY(-50px);
   }
 }
 @media(max-width:1140px){
   .quick__images{
      margin-left: 165px;
      margin-top: 100px;
   }
 }
 @media(max-width:1020px){
   .quick__inner-white .container{
      flex-direction: column;
      flex-wrap: nowrap;
      gap: 70px;
   }
   .quick__white-text{
      order: 0;
      margin-bottom: 40px !important;
   }
   .quick__images-item{
      top: -20%;
      &--2{
         top: -6% !important;
      }
      &--3{
         top: 0 !important;
      }
   }
   .projects__inner{
      margin-top: 800px;
   }

   .quick__list-item{
      margin: 0 auto;
   }
   .quick__white-text{
      margin: 0 auto;
   }
   .quick__images{
      top: -10%;
      margin-top: 0;
   }
   
 }

 .projects__inner{
   margin-top: 50 !important;
 }
@media screen and (min-width: 1500px) and (max-height: 1060px)  {

  .projects__inner{
   margin-top: 90px !important;
}
}

@media screen and (max-width: 1420px) and (max-height: 1500px)  {
   .projects__inner{
      margin-top: 200px !important;
   }
}
@media screen and (max-width: 1420px) and (max-height: 1000px)  {
   .projects__inner{
      margin-top: 250px !important;
   }
}
@media screen and (max-width: 1400px) and (max-height: 1300px)  {
   .quick__white-list{
      margin-bottom: 70px;
   }
}
@media screen and (max-width: 1390px) and (max-height: 1300px)  {
   .projects__inner{
      margin-top: 250px !important;
   }
}
@media screen and (max-width: 1390px) and (max-height: 1100px)  {
   .projects__inner{
      margin-top: 350px !important;
   }
}
@media screen and (max-width: 1390px) and (max-height: 900px)  {
   .projects__inner{
      margin-top: 500px !important;
   }
}
@media screen and (max-width: 1390px) and (max-height: 600px)  {
   .projects__inner{
      margin-top: 600px !important;
   }
}
@media screen and (min-width: 1500px) and (min-height: 1301px)  {
   .projects__inner{
      margin-top: 90px !important;
   }
   .quick__inner-white{
      height: auto;
   }
}
@media screen and (min-width: 1500px) and (max-height: 1300px)  {
   .projects__inner{
      margin-top: 250px !important;
   }
}
@media screen and (min-width: 1500px) and (max-height: 1000px)  {
   .projects__inner{
      margin-top: 350px !important;
   }
}
@media screen and (min-width: 1500px) and (max-height: 650px)  {
   .projects__inner{
      margin-top: 430px !important;
   } 
}
@media screen and (min-width: 1500px) and (max-height: 510px)  {
   .projects__inner{
      margin-top: 530px !important;
   }
}
@media screen and (min-width: 1500px) and (max-height: 320px)  {
   .projects__inner{
      margin-top: 630px !important;
   }
}
@media screen and (max-width: 1500px) and (max-height: 850px)  {
   .projects__inner{
      margin-top: 400px !important;
   }
}
@media screen and (max-width: 1400px) and (max-height: 760px)  {
   .projects__inner{
      margin-top: 500px !important;
   }
}

@media screen and (max-width: 1500px) and (max-height: 550px)  {
   .projects__inner{
      margin-top: 520px !important;
   }
}
@media screen and (max-width: 1400px) and (max-height: 500px)  {
   .projects__inner{
      margin-top: 570px !important;
   }
}
@media screen and (max-width: 1400px) and (max-height: 400px)  {
   .projects__inner{
      margin-top: 640px !important;
   }
}
@media screen and (max-width: 1020px) and (min-height: 1300px)  {
   .projects__inner{
      margin-top: 800px !important;
   }
}
// @media screen and (max-width: 1018px) and (max-height: 1350px)  {
//    .projects__inner{
//       margin-top: 800px !important;
//    }
// }
@media screen and (max-width: 1150px) and (max-height: 1460px)  {
   .projects__inner{
      margin-top: 300px !important;
   }
}

@media screen and (max-width: 1150px) and (max-height: 1100px)  {
   .projects__inner{
      margin-top: 500px !important;
   }
}
@media screen and (max-width: 1000px) and (max-height: 1500px)  {
   .projects__inner{
      margin-top: 800px !important;
   }
}
@media screen and (max-width: 1090px) and (max-height: 1200px)  {
   .projects__inner{
      margin-top: 900px !important;
   }
}
@media screen and (min-width:1000px) and (max-width:1025px)  and (max-height:1450px)
 {
   .projects__inner{
      margin-top: 800px !important;
   }
}
@media screen and (max-width: 1020px) and (max-height: 1300px)  {
   .projects__inner{
      margin-top: 1000px !important;
   }
}
// @media screen and (max-width: 1020px) and (max-height: 900px)  {
//    .projects__inner{
//       margin-top: 1100px !important;
//    }
// }
@media screen and (max-width: 600px) and (min-height: 1300px)  {
   .projects__inner{
      margin-top: 600px !important;
   }
}

@media screen and (max-width: 1200px) and (max-height: 1200px)  {
   .projects__inner{
      margin-top: 430px !important;
   }
}
@media screen and (max-width: 1020px) and (max-height: 1200px)  {
   .projects__inner{
      margin-top: 1100px !important;
   }
}
@media screen and (max-width: 1200px) and (max-height: 1000px)  {
   .projects__inner{
      margin-top: 600px !important;
   }
}
@media screen and (max-width: 1200px) and (max-height: 4000px)  {
   .projects__inner{
      margin-top: 730px !important;
   }
}
@media screen and (max-width: 1130px) and (max-height: 520px)  {
   .projects__inner{
      margin-top: 690px !important;
   }
}
@media screen and (max-width: 1050px) and (max-height: 1000px)  {
   .projects__inner{
      margin-top: 1100px !important;
   }
}
@media screen and (max-width: 1050px) and (max-height: 900px)  {
   .projects__inner{
      margin-top: 1200px !important;
   }
}
@media screen and (max-width: 1050px) and (max-height: 700px)  {
   .projects__inner{
      margin-top: 1350px !important;
   }
}
@media screen and (max-width: 1050px) and (max-height: 430px)  {
   .projects__inner{
      margin-top: 1450px !important;
   }
}
@media screen and (max-width: 1050px) and (min-width: 1020px)  {
   .projects__inner{
      margin-top: 700px !important;
   }
   .quick__inner-white{
      height: 50vh;
   }
}
@media screen and (width: 1020px)  {
   .projects__inner{
      margin-top: 1200px !important;
   }
   .quick__inner-white{
      height: 50vh;
   }
}

@media screen and (max-width: 950px) and (max-height: 820px)  {
   .projects__inner{
      margin-top: 1250px !important;
   }
}
@media screen and (max-width: 950px) and (max-height: 750px)  {
   .projects__inner{
      margin-top: 1250px !important;
   }
}
@media screen and (max-width: 950px) and (max-height: 600px)  {
   .projects__inner{
      margin-top: 1350px !important;
   }
}
@media screen and (max-width: 950px) and (max-height: 430px)  {
   .projects__inner{
      margin-top: 1450px !important;
   }
}

 @media(max-width:760px){
   .quick__images{
      margin-left: 70px;
   }
  
 }
 @media(max-width:620px){
   .quick__card-img{
      max-width: 320px;
      max-height: 250px;
   }
   .quick__card-inner{
      max-width: 320px;

   }
   .quick__timer-time{
      font-size: 49px;
   }
   .quick__images{
      width: 150px;
      margin-left: 20px;
   }
   .quick__images-item{
      
      &--2{
         left: 7% !important;
      }
      &--3{
         left: 19% !important;
      }
   }
   .quick__title{
      font-size: 32px;
      margin-bottom: 30px;
   }
   .quick__color-text{
      font-size: 15px;
   }
   
 }