// Fonts
$font-main: Circe, sans-serif;


// Colors

$accent: #894083;
$white-accent: #F3EDF5;
$text-accent: #FFD39D;
$main-gradient: linear-gradient(90.00deg, rgb(116, 7, 107) -32.312%,rgb(161, 35, 141) 31.585%,rgb(240, 131, 22) 124.081%);
$white: #fff;
$orange: #FF8600;
$black: #232323;


